.sx-photo-gallery {
    width: 100%;
    height: 700px;
    background-color: #252525;
    padding: 5% 0;
}

.sx-photo-gallery__controlls {
    width: 350px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sx-photo-gallery__controlls::selection {
    opacity: 0;
}

.sx-photo-gallery__controlls::-moz-selection {
    opacity: 0;
}

.sx-photo-gallery__controlls-arrow {
    margin: 0 25px;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    border: solid rgba(255, 255, 255, 0.5);
    border-width: 0 5px 5px 0;
    transition: border .4s;
    pointer-events: none;
}

.sx-photo-gallery__controlls-arrow:hover {
    border-color: #2962ff;
}

.sx-photo-gallery__controlls-arrow--left {
    transform: rotate(135deg);
}

.sx-photo-gallery__controlls-arrow--right {
    transform: rotate(-45deg);
}

.sx-photo-gallery__share {
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color .4s, border-color .4s;
}

.sx-photo-gallery__share:hover {
    background: #2962ff;
    border-color: transparent;
}

.sx-photo-gallery__share-twitter, .sx-photo-gallery__share-linkedin, .sx-photo-gallery__share-facebook {
    width: 18px;
    height: 18px;
    background-image: url("../../assets/images/icon-sprite.png");
}

.sx-photo-gallery__share-twitter {
    background-position: -48px -8px;
}

.sx-photo-gallery__share-linkedin {
    background-position: -10px -11px;
}

.sx-photo-gallery__share-facebook {
    background-position: -6px -48px;
}

.sx-photo-gallery-photos {
    margin: 0 auto;
    position: relative;
    width: 350px;
    height: 500px;
}

.sx-photo-gallery-photos__photo-container {
    height: 100px;
    background: transparent;
    text-align: center;
    position: absolute;
    opacity: 0;
    z-index: 1;
    transition: top .5s ease-in, opacity .5s ease-in-out, left .5s, right .5s;
    cursor: pointer;
}

.sx-photo-gallery-photos__photo-container img {
    height: 100%;
}

.sx-photo-gallery-photos__photo-container--0 {
    opacity: .3;
    right: 110%;
    top: 0;
}

.sx-photo-gallery-photos__photo-container--1 {
    opacity: .3;
    right: 125%;
    top: 35%;
}

.sx-photo-gallery-photos__photo-container--2 {
    opacity: .3;
    right: 110%;
    top: 70%;
}

.sx-photo-gallery-photos__photo-container--3 {
    width: 400px;
    height: auto;
    top: 50%;
    opacity: 1;
    transition: opacity .4s ease-in-out;
    transform: translateY(-50%);
    z-index: 2;
}

.sx-photo-gallery-photos__photo-container--3 img {
    max-width: 100%;
    height: auto;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.15);
}

.sx-photo-gallery-photos__photo-container--4 {
    opacity: .3;
    left: 125%;
    top: 70%;
}

.sx-photo-gallery-photos__photo-container--5 {
    opacity: .3;
    left: 135%;
    top: 35%;
}

.sx-photo-gallery-photos__photo-container--6 {
    opacity: .3;
    left: 125%;
    top: 0;
}
