html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.sx-photo-gallery {
    width: 100%;
    padding: 5% 0;
    background-color: #252525;
    overflow: hidden;
}

.sx-photo-gallery__controlls {
    width: 300px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (min-width: 576px) {
    .sx-photo-gallery__controlls {
        padding: 40px 0 0 0;
    }
}

.sx-photo-gallery__controlls::selection {
    opacity: 0;
}

.sx-photo-gallery__controlls::-moz-selection {
    opacity: 0;
}

.sx-photo-gallery__controlls-arrow {
    margin: 0 25px;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    border: solid rgba(255, 255, 255, 0.5);
    border-width: 0 5px 5px 0;
    transition: border .4s;
    pointer-events: none;
}

.sx-photo-gallery__controlls-arrow:hover {
    border-color: #2962ff;
}

.sx-photo-gallery__controlls-arrow--left {
    transform: rotate(135deg);
}

.sx-photo-gallery__controlls-arrow--right {
    transform: rotate(-45deg);
}

.sx-photo-gallery__share {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color .4s, border-color .4s;
}

.sx-photo-gallery__share:hover {
    background: #2962ff;
    border-color: transparent;
}

.sx-photo-gallery__share-twitter, .sx-photo-gallery__share-linkedin, .sx-photo-gallery__share-facebook {
    width: 18px;
    height: 18px;
    background-image: url("../../assets/images/icon-sprite.png");
}

.sx-photo-gallery__share-twitter {
    background-position: -48px -8px;
}

.sx-photo-gallery__share-linkedin {
    background-position: -10px -11px;
}

.sx-photo-gallery__share-facebook {
    background-position: -6px -48px;
}

.sx-photo-gallery-photos {
    width: 90%;
    height: 85vh;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

@media only screen and (min-width: 576px) {
    .sx-photo-gallery-photos {
        max-width: 350px;
        height: 30vh;
        min-height: 420px;
    }
}

@media only screen and (min-width: 768px) {
    .sx-photo-gallery-photos {
        max-width: 400px;
    }
}

.sx-photo-gallery-photos__photo-container {
    background: transparent;
    list-style-type: none;
    position: absolute;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    pointer-events: none;
}

@media only screen and (min-width: 576px) {
    .sx-photo-gallery-photos__photo-container {
        max-width: 80px;
        pointer-events: inherit;
        opacity: .3;
    }
}

@media only screen and (min-width: 768px) {
    .sx-photo-gallery-photos__photo-container {
        max-width: 100px;
    }
}

.sx-photo-gallery-photos__photo-container:hover {
    opacity: 1;
    transform: scale(1.1);
}

.sx-photo-gallery-photos__photo-container a {
    pointer-events: none;
    -moz-user-select: -moz-none;
}

.sx-photo-gallery-photos__photo-container img {
    max-width: 100%;
    max-height: 125px;
}

.sx-photo-gallery-photos__photo-container--0 {
    top: 0;
    left: 0;
    transform: translateX(-100px);
    transition: opacity .5s;
}

@media only screen and (min-width: 768px) {
    .sx-photo-gallery-photos__photo-container--0 {
        transform: translateX(calc(-100px - 30px));
    }
}

.sx-photo-gallery-photos__photo-container--0:hover {
    transform: scale(1.1) translateX(calc(-100px + 10px));
}

@media only screen and (min-width: 768px) {
    .sx-photo-gallery-photos__photo-container--0:hover {
        transform: scale(1.1) translateX(calc(-100px - 20px));
    }
}

.sx-photo-gallery-photos__photo-container--1 {
    top: 50%;
    left: 0;
    transition: opacity .5s;
    transform: translateY(-50%) translateX(calc(-100px - 10px));
}

@media only screen and (min-width: 768px) {
    .sx-photo-gallery-photos__photo-container--1 {
        transform: translateY(-50%) translateX(calc(-100px - 65px));
    }
}

.sx-photo-gallery-photos__photo-container--1:hover {
    transform: scale(1.1) translateY(-50%) translateX(-100px);
}

@media only screen and (min-width: 768px) {
    .sx-photo-gallery-photos__photo-container--1:hover {
        transform: scale(1.1) translateY(-50%) translateX(calc(-100px - 50px));
    }
}

.sx-photo-gallery-photos__photo-container--2 {
    transition: opacity .5s, top .5s, transform .5s, left .5s;
    top: calc(100% - 100px);
    left: 0;
    transform: translateX(-100px);
}

@media only screen and (min-width: 768px) {
    .sx-photo-gallery-photos__photo-container--2 {
        transform: translateX(calc(-100px - 30px));
    }
}

.sx-photo-gallery-photos__photo-container--2:hover {
    transform: scale(1.1) translateX(calc(-100px + 10px));
}

@media only screen and (min-width: 768px) {
    .sx-photo-gallery-photos__photo-container--2:hover {
        transform: scale(1.1) translateX(calc(-100px - 20px));
    }
}

.sx-photo-gallery-photos__photo-container--3 {
    max-width: 100%;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    position: relative;
    text-align: center;
    opacity: 1;
    z-index: 2;
    transition: opacity .5s, left .5s, top .5s;
}

.sx-photo-gallery-photos__photo-container--3:hover {
    transform: translateY(-50%) translateX(-50%);
}

.sx-photo-gallery-photos__photo-container--3 a {
    pointer-events: visible;
}

.sx-photo-gallery-photos__photo-container--3 img {
    max-height: 420px;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.15);
}

.sx-photo-gallery-photos__photo-container--4 {
    top: calc(100% - 100px);
    left: 77%;
    transform: translateX(100px);
    transition: opacity .5s, top .5s, transform .5s, left .5s;
}

@media only screen and (min-width: 768px) {
    .sx-photo-gallery-photos__photo-container--4 {
        left: 75%;
        transform: translateX(calc(100px + 30px));
    }
}

.sx-photo-gallery-photos__photo-container--4:hover {
    transform: translateX(100px) scale(1.1);
}

@media only screen and (min-width: 768px) {
    .sx-photo-gallery-photos__photo-container--4:hover {
        transform: translateX(calc(100px + 30px)) scale(1.1);
    }
}

.sx-photo-gallery-photos__photo-container--5 {
    transform: translateY(-50%) translateX(100px);
    top: 50%;
    left: 77%;
    transition: opacity .5s;
}

@media only screen and (min-width: 768px) {
    .sx-photo-gallery-photos__photo-container--5 {
        left: 75%;
        transform: translateY(-50%) translateX(calc(100px + 65px));
    }
}

.sx-photo-gallery-photos__photo-container--5:hover {
    transform: scale(1.1) translateY(-50%) translateX(calc(100px - 10px));
}

@media only screen and (min-width: 768px) {
    .sx-photo-gallery-photos__photo-container--5:hover {
        transform: scale(1.1) translateY(-50%) translateX(calc(100px + 50px));
    }
}

.sx-photo-gallery-photos__photo-container--6 {
    top: 0;
    left: 77%;
    transition: opacity .5s;
    transform: translateX(100px);
}

@media only screen and (min-width: 768px) {
    .sx-photo-gallery-photos__photo-container--6 {
        left: 75%;
        transform: translateX(calc(100px + 30px));
    }
}

.sx-photo-gallery-photos__photo-container--6:hover {
    transform: scale(1.1) translateX(calc(100px - 10px));
}

@media only screen and (min-width: 768px) {
    .sx-photo-gallery-photos__photo-container--6:hover {
        transform: scale(1.1) translateX(calc(100px + 20px));
    }
}
